{% extends "base_generic.html" %}

{% block content %}
  <h1 class="display-5"> Titles related to "{{ userSearch }}" </h1>
  <p>
    <table class="table table-striped mr-sm-3">
      <thead class="thead-dark">
        <tr>
          <th>
            Title
          </th>
          <th>
            Released
          </th>
          <th class="px-sm-4">
            Rated
          </th>
          <th class="px-sm-5">
            Genre
          </th>
          <th class="px-sm-4">
            Plot
          </th>
        </tr>
      </thead>
      <tbody>
      {% for movie in searchResult %}
        <tr>
            <td>
              <span onclick="alert('{{movie.title}}')" class="fas fa-plus-circle add-btn"></span>  {{movie.title}}
            </td>
            <td>
              {{movie.year}}
            </td>
            <td>
              {{movie.rated}}
            </td>
            <td>
              {{movie.released}}
            </td>
            <td>
              {{movie.genre}}
            </td>
        </tr>
        <tr>
          <td class="w-50">
            {{movie.plot}}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  <p>
{% endblock %}
