.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    link-style:none;
}
#searchForm {

}
ul li {
  margin-bottom:20px;
}
a {
  color:black;
  position:relative;
}
ul li[class = "link"]:hover,ul > a:hover{
  background-color:#6c757d;
  cursor:pointer;
  color:white;
}
a:hover {
  text-decoration:none;
  color:inherit;
}
